<div class="photo-card">
    <img src="" alt="" />

    <div class="stats">
        <p class="stats-item">
            <i class="material-icons">thumb_up</i>
            1108
        </p>
        <p class="stats-item">
            <i class="material-icons">visibility</i>
            320321
        </p>
        <p class="stats-item">
            <i class="material-icons">comment</i>
            129
        </p>
        <p class="stats-item">
            <i class="material-icons">cloud_download</i>
            176019
        </p>
    </div>
</div>